body
{
	font-size: 10pt;
	font-family: Helvetica;
}
h1,h2,h3,h4,h5,h6 { font-size: 1em; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }


table
{
	border: 1px solid #aaa;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 3em;
	font-size: 0.9em;
}
caption
{
	font-weight: bold;
	text-align: left;
	padding: 0 0 0.3em 1em;
	border: solid #ccc;
	border-width: 1px 1px 0 1px;
	font-style: oblique;
}

th, td
{
	border: 1px solid #ccc;
	padding: 0.3em;
}
caption, th { background: #eed; }
th { text-align: right; }
pre
{
	border: 1px dotted #aaa;
	background: #fbfbf5;
	color: #444;
	padding: 0.5em;
}
form, div#html_source, div#web_output
{
	float: left;
}
div#html_source, div#web_output
{
	margin-left: 2em;
}
